{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Sing In</h2>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        <span class="flash-text">{{ message }}</span>
                        <button class="flash-close" onclick="closeFlash(this)">✕</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" class="auth-form">
        <input type="email" name="email" placeholder="Email" required>

        <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="toggle-password" data-target="password"><i class="bi bi-eye"></i></span>
        </div>

        <button type="submit">Sing In</button>
    </form>

    <p class="link">Don’t have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
</div>
{% endblock %}
